@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Zaključan nalog.</h1>
    <h2 class="text-danger">Vaš nalog je zaključan, molimo pokušajte kasnije.</h2>
</hgroup>
